<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have made a new post: "<%=@post.title%>"</h1>
    <p>
      <%=@post.body%>
    </p>
    <p>
      You have favorited this post and will be notified of any comments.
    </p>
    <p>
      <%=link_to "View post on site", topic_post_url(@post.topic, @post)%>
    </p>
  </body>
</html>
